$box-shadows: (
  "shadow-1": 0px 10px 11px 11px rgba(245, 248, 255, 18%),
  "shadow-2": 0px 2px 6px 0px rgba(0, 0, 0, 0.25),
  "shadow-4": 0px 4px 12px 0px rgba(0, 0, 0, 0.25),
  "shadow-8": 0px 8px 24px 0px rgba(0, 0, 0, 0.25),
  "shadow-12": 0px 12px 36px 0px rgba(0, 0, 0, 0.25),
  "shadow-16": 0 16px 48px 0 rgba(0, 0, 0, 0.25),
) !default;

@each $name, $value in $box-shadows {
  .box-#{$name} {
    box-shadow: $value;
    transition: box-shadow 0.25s;
  }
  .box-#{$name}-hover:hover {
    box-shadow: $value;
    transition: box-shadow 0.25s;
  }
}
