.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  letter-spacing: normal;
  transition: all .2s ease-in-out;
  padding: 12px 4px;

  &:hover, &:focus{
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    text-decoration: none;
    cursor: pointer;
  }

  &.button-primary{
    color: $white;
    background-color: $black;
    border: 1px solid $black;
    &:hover, &:active, &:focus{
      background-color: darken($black, 5%);
      border: 1px solid darken($black, 5%);
      color: $white;
    }
  }

  &.button-secondary{
    color: $primary;
    background-color: $white;
    border: 1px solid $primary;
    &:hover, &:active, &:focus{
      background-color: $primary;
      border: 1px solid darken($primary, 5%);
      color: $white;
    }
  }

  &.expanded{
    width: 100%;
  }

  &.contracted{
    width: 60%;
  }
  &.small{
    width: none;
  }

  &.button-icon{
    content: '';
    display: inline-block;
    height: auto;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    &.button-email{
      background-position: 35% 50%;
      background-image: url('/icons/email.svg');
      width: 100%;
      &:hover, &:focus, &:active{
        background-image: url('/icons/email-white.svg');
      }
    }
  }

  &.button-size-200{
    width: 200px;
  }
}