.form{
  font-style: 'Roboto';
  width: 100%;
  .form-input{
    border: none;
    border-bottom: 1px solid $quaternary;
    width: 100%;
    &:focus{
      outline: none;
    }
  }
  .password-field-icon {
    float: right;
    margin-left: -25px;
    margin-top: 10px;
    position: relative;
    z-index: 2;
  }
  ::placeholder {
    color: $tertiary;
    font-weight: 700;
    font-size: 14px;
  }
}