.small-only-expanded{
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  @include breakpoint('medium') {
    width: auto;
    padding-left: initial;
    padding-right: initial;
    margin-left: auto;
    margin-right: auto;
  }
}

.overflow-hidden{
  overflow: hidden;
}

.cursor-pointer{
  &:hover{
    cursor: pointer;
  }
}

.display-inline{
  display: inline;
}

.text-decoration-none{
  text-decoration: none;
}

.middle-align{
  align-self: center;
}

.position-absolute{
  position: absolute;
}

.z-index-2{
  z-index: 2;
}

.text-underline{
  text-decoration: none;
  position: relative;
  &::after{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 2px;
    border-width: 0 0 2px;
    border-style: solid;
  }
}

.text-underline-80{
  text-decoration: none;
  position: relative;
  &::after{
    content: '';
    width: 70%;
    left: 15%;
    position: absolute;
    bottom: -10px;
    border-width: 0 0 3px;
    border-style: solid;
    color: $gray-40;
  }
}

.text-underline-white-80{
  text-decoration: none;
  position: relative;
  &::after{
    content: '';
    width: 70%;
    left: 15%;
    position: absolute;
    bottom: -10px;
    border-width: 0 0 3px;
    border-style: solid;
    color: $white;
  }
}

.overflow-x-hidden{
  overflow-x: hidden;
}

.overflow-y-visible{
  overflow-y: visible;
}

.cursor-pointer{
  cursor: pointer;
}

.position-fixed{
  position: fixed;
}

.z-index-10{
  z-index: 10;
}

.text-center-sm-left{
  text-align: center;
  @include breakpoint(small){
    text-align: left;
  }
}

.border-line{
  border: none;
  height: 1px;
}