.trending{
  .tr-section{
    margin-top: -100px;
    z-index: 3;
    border-radius: 0px 12px 12px 0px;
  }

  .wrapper{
    border-bottom: 1px solid $gray-30;
    @include breakpoint(large){
      border-bottom: none;
      &:after{
        border-bottom: none;
        content: "";
        background-color: $gray-30;
        position: absolute;
        width: 1px;
        height: 80%;
        top: 20px;
        left: 99%;
        display: block;
      }
    }
  }
}