.hire {
  .bg-image{
    background-image: url("/images/smiling-woman.jpg");
    background-color: $gray-5;
    background-size: cover;
  }
  .hero{
    min-height: 60vh;
  }

  .companies {
    width: 100%;
    input[type="radio"] {
      display: none;
      &:checked {
        + .box {
          background-color: $primary;
          span {
            color: $white;
            transition: all 500ms ease;
            will-change: transition;
          }
        }
      }
    }
    .box {
      width: 125px;
      @include breakpoint(small){
        width: 230px;
      }
      @include breakpoint(medium){
        width: 150px;
      }
      @include breakpoint(large){
        width: 250px;
      }
      @include breakpoint(xlarge){
        width: 300px;
      }
      height: 32px;
      background-color: $gray-20;
      color: $gray-80;
      transition: all 500ms ease;
      will-change: transition;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      position: relative;
    }
  }

  .positions{
    height: 250px;
    @include breakpoint(xlarge){
      height: 200px;
    }
    .ul{
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: auto;
    }
    
    .ul li{
      color: $gray-80;
      display: block;
      position: relative;
      float: left;
      width: 100%;
    }
    
    .ul li input[type=radio]{
      position: absolute;
      visibility: hidden;
    }
    
    .ul li label{
      display: block;
      position: relative;
      padding: 3px 3px 3px 20px;
      margin: 3px;
      cursor: pointer;
    }
    
    .ul li .check{
      display: block;
      position: absolute;
      background-color: $white;
      height: 15px;
      width: 15px;
      top: 5px;
    }
    
    .ul li .check::before {
      display: block;
      position: absolute;
      content: '';
      height: 15px;
      width: 15px;
      top: -5px;
      left: -5px;
      margin: auto;
    }
    
    input[type=radio]:checked ~ .check {
      border: 5px solid $primary;
    }
    
    input[type=radio]:checked ~ .check::before{
      background: $primary;
    }
    
    input[type=radio]:checked ~ label{
      color: $gray-80;
    }
  }

  .skills{
    height: 200px;
    overflow-y: scroll;
    width: 98.5%;
    @include breakpoint(medium){
      width: 97.5%;
    }
    @include breakpoint(large){
      width: 94.5%;
    }
    @include breakpoint(xlarge){
      width: 95.5%;
    }
    .ul{
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: auto;
    }
    
    .ul li{
      color: $gray-80;
      display: block;
      position: relative;
      float: left;
      width: 100%;
    }
    
    .ul li input[type=checkbox]{
      top: 8px;
      left: 0px;
      position: absolute;
    }
    
    .ul li label{
      display: block;
      position: relative;
      padding: 3px 0px 3px 15px;
      margin: 3px;
      cursor: pointer;
    }
  }

  .skills::-webkit-scrollbar {
    width: 10px;
  }
   
  .skills::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .skills::-webkit-scrollbar-thumb {
    background-color: $primary;
  }
}