.home{
  .hero{
    margin-top: 32px;
    @include breakpoint(large){
      height: 100vh;
    }
    @include breakpoint(xlarge){
      margin-top: 0px;
    }
  }

  .get-started-btn{
    width: 75%;
    @include breakpoint(medium){
      width: 50%;
    }
    @include breakpoint(large){
      width: 25%;
    }
  }
}